* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background: #f7f7eb;
    font-family: 'Share Tech Mono', monospace;
}

.col-sm-6 {
    border: 5px solid rgb(203,64,60);
    border-radius: 8px;
    padding: 35px;
}

